@import 'variables.scss';

.results {
   .resultsCard {
      margin-top: -2em !important;
   }

   .openModalButton {
      margin-top: 0.8em;
   }

   .partOfSpeech {
      margin-top: 2.2em;
   }

   .breakLine {
      height: 2px;
      width: 100%;
      background-color: $card-breakline-color;
      position: relative;
      top: -0.2em;
   }

   .information {
      margin-top: -2.4em;
   }
}
