{
   "bracketSpacing": true,
   "bracketSameLine": true,
   "jsxSingleQuote": true,
   "semi": true,
   "singleQuote": true,
   "trailingComma": "es5",
   "printWidth": 80,
   "useTabs": false,
   "tabWidth": 3,
   "importOrder": [
      "^react",
      "^styled-components",
      "^app/store/",
      "^app/common/",
      "^app/features/",
      "^app/utils/(.*)$",
      "^app/styles/",
      "^[assets/]",
      "^[./]"
   ],
   "importOrderSeparation": true,
   "importOrderSortSpecifiers": true
}
