{
  "bracketSpacing": true,
  "bracketSameLine": true,
  "jsxSingleQuote": true,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "useTabs": false,
  "tabWidth": 2,
  "importOrder": [
    "^react(.*)",
    "^[src/]",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}