@import 'variables.scss';

.favouriteButtonHoverText {
   display: none;
}

.favouriteButton {
   margin-top: 0.6em;
   padding: 0.3em;
   width: 28px;
   height: 28px;
   cursor: url('../../../assets/icons/cursor-click.svg'), auto;
}

.favouriteButton:hover ~ .favouriteButtonHoverText {
   display: block;
   position: absolute;
   text-align: center;
   font-size: 0.7em;
   color: $icon-hover-text-color;
   transform: translate(60%, 200%);
}

.favouriteButton:hover {
   fill: $icon-fill-color;
}
