@import 'variables.scss';

$search-font-size: 1.5rem;
$search-field-placeholder-color: #fff6f7;
$search-field-overlay-color: #cd566a4f;
$search-field-background-color: #fff;
$search-button-color: #6a6a6a;

.search {
   .searchForm {
      ::placeholder {
         text-align: center;
         color: $search-field-placeholder-color;
      }

      .searchFieldRow {
         display: flex;

         .searchFieldInnerRow {
            display: flex;
            align-items: center;
            width: 100%;
         }

         .searchFieldBackgroundOverlay {
            width: 32em;
            height: 2.1em;
            margin-left: -34.6em;
            background-color: $search-field-overlay-color;
            border-radius: 7px;
            z-index: -1;
         }

         .searchFieldBackground {
            width: 35.1em;
            height: 2.8em;
            margin-left: -35.4em;
            border: 1px solid $search-field-background-color;
            border-radius: 7px;
            background-color: $search-field-background-color;
            z-index: -2;
         }

         .searchField {
            width: 20em;
            padding: 10px 40px;
            border: 3px solid $theme-one-form-color;
            border-radius: 10px;
            box-shadow: 6px 7px 0px -2px $theme-one-dark-pink-color;
            background-color: transparent;
            color: $theme-one-medium-pink-color;
            font-size: $search-font-size;
            text-align: center;
            font-weight: 600;
            font-family: $navbar-font;
            letter-spacing: 0.2em;

            &::selection {
               background-color: $theme-one-light-pink-color;
               color: white;
            }
         }

         .searchButton {
            border: none;
            background: none;
            cursor: url('../../../assets/icons/cursor-click.svg'), auto;
            margin-left: -0.2em;

            svg {
               width: 2.7em;
               height: 2.7em;

               path {
                  stroke: $theme-one-form-color;
               }
            }
         }

         *:focus {
            outline: none;
         }
      }
   }
}
