@import 'variables.scss';

.navbar {
   display: flex;
   align-items: center;
   padding: 12px;
   justify-content: flex-start;
   border: 3px $primary-black-color solid;
   border-top-left-radius: 35px;
   border-top-right-radius: 35px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
   background-color: $theme-one-navbar-color;
   box-shadow: 6px 7px 0px -2px $primary-black-color;
   margin: 20px;

   .navbarLinks {
      margin-left: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      * {
         margin: 0 40px;
         text-decoration: none;
         color: $primary-black-color;
         font-size: 1.5em;
         cursor: url('../../../assets/icons/cursor-click.svg'), auto;
      }
   }
}
