@import 'variables.scss';

.logo {
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: url('../../../assets/icons/cursor-click.svg'), auto;

   .logoName {
      font-family: $navbar-font;
      font-size: $logo-font-size;
      color: $primary-black-color;
      margin: 0 10px;
      background: transparent;
      border: none;
   }

   .logoShape {
      .soundLines {
         display: flex;
         align-items: center;

         .soundLine {
            box-sizing: border-box;
            position: relative;
            display: block;
            width: 4px;
            height: 32px;
            background-color: $primary-black-color;
            margin: 2px;
         }

         .soundLine:nth-child(2) {
            height: 26px;
         }

         .soundLine:nth-child(3) {
            height: 20px;
         }

         .soundLine:last-child {
            height: 14px;
         }
      }
   }
}
