@import 'variables.scss';

.logo {
   display: flex;

   .logoShape {
      display: flex;

      .circle {
         width: 45px;
         height: 45px;
         border: 4px solid $theme-one-light-pink-color;
         border-radius: 50%;
         border-top: 0;
         opacity: 0.6;
      }

      .soundCurves {
         display: flex;
         align-items: center;
         margin-left: 0.7em;
         transform: rotate(70deg);

         .soundCurve {
            box-sizing: border-box;
            position: relative;
            display: block;
            width: 4px;
            height: 24px;
            background-color: $theme-one-peach-color;
            margin: 2px;
         }

         .soundCurve:nth-child(2) {
            height: 38px;
         }

         .soundCurve:last-child {
            height: 42px;
         }
      }
   }

   .logoName {
      font-family: $navbar-font;
      font-size: $logo-font-large;
      color: $theme-one-medium-pink-color;
      position: relative;
      left: -30px;
      background: transparent;
      border: none;
      cursor: url('../../../assets/icons/cursor-click.svg'), auto;
   }
}
