@import 'variables.scss';

.copyButtonHoverText {
   display: none;
}

.copyButton {
   margin-top: 0.6em;
   padding: 0.3em;
   width: 28px;
   height: 28px;
   cursor: url('../../../assets/icons/cursor-click.svg'), auto;
}

.copyButton:hover ~ .copyButtonHoverText {
   display: block;
   position: absolute;
   text-align: center;
   font-size: 0.7em;
   color: $icon-hover-text-color;
   transform: translate(-20%, 200%);
}
