@import 'variables.scss';

.formContainer {
   .translatedText,
   .translateOptions {
      display: flex;
      flex-direction: row;
      align-items: center;
   }

   .translatedText {
      margin-top: 1em;
      justify-content: space-evenly;
   }

   .translateOptions {
      justify-content: space-around;
   }

   .translateOptions select {
      width: 12em;
      text-align: center;
      height: 2em;
      border: none;
      font-size: 1em;
      font-family: $body-font;

      &:focus {
         outline: none;
      }
   }

   .translatedTextInnerRow {
      padding: 30px 10px;
      width: 100%;

      p {
         font-size: 1.5em;
      }

      &:first-child {
         border-top-left-radius: 20px;
         border-bottom-left-radius: 20px;
         background-color: $theme-one-card-translation-box-one-color;
      }

      &:last-child {
         border-top-right-radius: 20px;
         border-bottom-right-radius: 20px;
         background-color: $theme-one-card-translation-box-two-color;
      }
   }

   .translateTitle {
      margin-top: 0.2em;
   }

   .arrowIcon {
      margin-top: 0;
   }

   .formIcons {
      position: absolute;
      transform: translate(-15%, -25%);

      .formCopyButton,
      .formSoundButton {
         width: 20px;
         height: 20px;
      }
   }
}
