@import 'variables.scss';

body {
   background: $body-background-color;
   font-family: $primary-font;
   margin: 0;

   a {
      text-decoration: none;
   }

   button {
      font-family: inherit;
   }

   .grid-background {
      width: 30rem;
      height: 30rem;
      background-size: 60px 60px;
      background-image: linear-gradient(
            to right,
            #9d9d9d5a 1px,
            transparent 1px
         ),
         linear-gradient(to top, #9d9d9d58 1px, transparent 1px);
      z-index: -4;
      position: absolute;

      &:first-child {
         bottom: 0;
         left: -30px;
      }

      &:last-of-type {
         top: -50px;
         right: -20px;
         width: 70rem;
         height: 40rem;
         background-image: linear-gradient(
               to left,
               #9d9d9d5a 1px,
               transparent 1px
            ),
            linear-gradient(to bottom, #9d9d9d58 1px, transparent 1px);
      }
   }

   .container {
      font-family: $secondary-font;
   }
}
