@import 'variables.scss';

html {
   cursor: url('assets/icons/cursor.svg'), auto;
}

html,
body,
#root {
   height: 100vh;
}

body {
   background: $body-background-color;
   font-family: $body-font;
   margin: 0;
   overflow-x: hidden;

   button {
      font-family: inherit;
   }

   .container {
      padding: 20px 50px;

      h1 {
         margin-bottom: 1em;
         font-size: 2.5em;
      }
   }

   .grid-background {
      width: 30em;
      height: 30em;
      background-size: 60px 60px;
      background-image: linear-gradient(
            to right,
            $primary-white-color 2px,
            transparent 2px
         ),
         linear-gradient(to top, $primary-white-color 2px, transparent 2px);
      z-index: -4;
      position: fixed;

      &:first-child {
         bottom: 0;
         left: -30px;
      }

      &:last-of-type {
         top: -50px;
         right: -8px;
         width: 50rem;
         height: 40rem;
         background-image: linear-gradient(
               to left,
               $primary-white-color 2px,
               transparent 2px
            ),
            linear-gradient(
               to bottom,
               $primary-white-color 2px,
               transparent 2px
            );
      }
   }

   .icon {
      position: absolute;
      z-index: -1;
   }

   .starIcon {
      bottom: 0;
      right: 0;
      transform: rotate(-90deg);
      width: 200px;
      height: 200px;
   }

   .highVoltageIcon {
      top: -6%;
      left: -8%;
      z-index: -1;
      width: 400px;
      height: 400px;
      transform: rotate(190deg);
   }

   .rainbowIcon {
      width: 200px;
      height: 200px;
      transform: rotate(65deg);
      left: 20%;
      bottom: 5%;
   }
}
