@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&family=Staatliches&display=swap');

// Colours

// Primary (Theme One)
$theme-one-pink-color: #ffc0cb;
$theme-one-card-header-button-one-color: #f06daa;
$theme-one-card-header-button-two-color: #e188b2;
$theme-one-card-header-button-three-color: #f5a1c8;
$theme-one-card-translation-box-one-color: #ffc0cb4c;
$theme-one-card-translation-box-two-color: #e7a3bf6f;

// Body

$primary-white-color: #ffffff;
$primary-black-color: #000000;

$body-background-color: #a4a9d2;
$icon-hover-text-color: #808080c3;
$icon-fill-color: #ffc0cb;
$card-breakline-color: #93939317;
$modal-overlay-color: #5e5e5eac;

// Fonts

$navbar-font: 'Staatliches', cursive;
$body-font: 'Quicksand', sans-serif;

// Font Sizes

$logo-font-size: 2.5em;
$button-font-size: 1.5em;
