@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Sora&display=swap');

// Primary Colours

$primary-pink-color: #ffabab;
$primary-orange-color: #ffdaab;
$primary-green-color: #ddffab;
$primary-blue-color: #abe4ff;
$primary-purple-color: #d9abff;

// Fonts

$logo-font: 'Fredoka One', sans-serif;
$body-font: 'Sora', sans-serif;
