.home {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: 1fr;
   grid-column-gap: 10px;
   position: relative;
   height: 100%;

   .homeCard {
      cursor: url('../../../assets/icons/cursor.svg'), auto;
   }

   .homeCardContainer,
   .duck {
      margin-top: 50px;
   }

   .getStartedButton {
      margin-top: 50px;
   }

   .homeCardContainer {
      text-align: center;
   }

   .backgroundIcons {
      .icon {
         position: absolute;
      }

      .alienIcon {
         right: 25%;
         top: -3.5%;
         width: 150px;
         height: 150px;
      }

      .lollipopIcon {
         transform: rotate(-90deg);
         bottom: 30%;
         left: 44%;
         width: 120px;
         height: 120px;
      }
   }
}
