@import 'variables.scss';

.cardContainer {
   width: 50vw;
   background-color: $primary-white-color;
   border-radius: 25px;
   border: 4px solid $theme-one-card-border;
   box-shadow: 10px 10px 0px -2px $theme-one-card-box-shadow;
   display: flex;
   flex-direction: column;

   .cardHeaderControl {
      height: 3.5em;
      width: 100%;
      background-color: $theme-one-card-header-control-color;
      border-top-left-radius: 19.5px;
      border-top-right-radius: 19.5px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: center;
      align-content: center;
      overflow: auto;

      .cardHeaderButton {
         width: 1.5em;
         height: 1.5em;
         margin: 1em;
         border-radius: 50%;

         &:first-child {
            background-color: $theme-one-card-header-button-one-color;
         }

         &:nth-child(2) {
            background-color: $theme-one-card-header-button-two-color;
         }

         &:last-child {
            background-color: $theme-one-card-header-button-three-color;
         }
      }
   }

   .cardInnerRow {
      padding: 1.5em;
      text-align: center;

      .cardTitleContainer {
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         margin-left: 6.5em;

         .cardTitle {
            font-size: 3em;
            margin-right: 0.5em;
         }

         .cardIcons {
            display: flex;
            align-items: center;
         }
      }
   }
}
